spring:
  config:
    import: optional:file:./.env[.properties]
  application:
    name: eureka

server:
  port: 8761
  servlet:
    context-path: /eureka

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  instance:
    hostname: localhost
  server:
    eviction-interval-timer-in-ms: 10000